{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Textual Similarity Metrics{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'metrics/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'metrics/js/script.js' %}" defer></script>
</head>
<body>
    <h1>Textual Similarity Metrics</h1>
    <div id="loading-overlay" aria-hidden="true">
      <div class="loader-box">
        <div class="spinner"></div>
        <div class="loader-text">⏳ Measuring metrics, please wait...</div>
      </div>
    </div>

    <main>
        {%  block content %}{% endblock %}
    </main>

    <footer>© 2025 Text Metrics</footer>

</body>
</html>